.schedule {
 float: right;
 height: 40vh;
 width: 20vw;
 text-align: center;
 margin-top: 0;
}

.scheduleTitle {
 margin-left: 0;
 margin-right: 0;
 padding-left: 0;
 padding-right: 0;
}

.myStudyWrapper {
 margin-top: 0;
 padding-top: 0;
 transform: scale(0.8);
 transform-origin: top right;
}

.leftWrapper {
 float: left;
 margin-right: 3vw;
 margin-top: 0;
}

.newClass {
 height: var(--element-height);
 background-color: var(--bColor);
 border-left-width: .7vw;
 border-left-style: solid;
 border-left-color: var(--hColor);
 margin-top: 2vh;
 margin-bottom: 2vh;
 padding-left: .7vw;
 padding-right: .25vw;
 text-align: left;
 line-height: var(--space);
 overflow-x: hidden;
}

.nameOfClass {
 font-size: var(--font);
 margin-top: .5vh;
}

.classDetails {
 font-size: var(--font);
 margin-top: .5vh;
}

.tasks {
 text-align: left;
}

.taskTitle {
 text-align: center;
}

.taskName {
 text-align: left;
 padding-bottom: 5px;
 font-size: 20px;
}

.circle {
 float: left;
 padding: 0;
 margin: 0;
}

.allExams {
 margin-right: 3vw;
 text-align: left
}

.newExam {
 font-size: 20px;
 padding-left: 8px;
 padding-top: 0;
 margin: 0;
 color: var(--color);
 opacity: var(--opacity);
}

.examTitle {
 display: inline-block;
 padding-left: 8px;
 margin: 0;
 padding-top: 0;
 color: white;
 opacity: 1;
}
